section{
	display: flex;
	background: #eee;
}
section > nav{
	padding: 4px 8px;
}
section > nav > a{
	display: block;
	padding: 4px 8px;
}
nav > a:hover, nav > a.active{
	background: #666;
}
td{
	vertical-align: top;
}